{% extends 'base.html' %}

{% block title %}Add Performance Goal - Admin{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-bullseye"></i> Add Performance Goal</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Employee</label>
                            {{ form.employee }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Priority</label>
                            {{ form.priority }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Goal Title</label>
                        {{ form.title }}
                    </div>
                    
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        {{ form.description }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Target Value</label>
                            {{ form.target_value }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Unit</label>
                            {{ form.unit }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Start Date</label>
                            {{ form.start_date }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Due Date</label>
                            {{ form.due_date }}
                        </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                        <a href="{% url 'performance_goal_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Back
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Create Goal
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
